*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#0d1117;
color:white;

}

header{

padding:20px;
text-align:center;

}

h1{

margin-bottom:15px;

}

#search{

width:90%;
max-width:500px;

padding:12px;

border:none;

border-radius:10px;

outline:none;

font-size:18px;

}

#channels{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(220px,1fr));

gap:20px;

padding:20px;

}

.card{

background:#161b22;

border-radius:12px;

padding:15px;

cursor:pointer;

transition:.3s;

text-align:center;

}

.card:hover{

transform:scale(1.05);

}

.card img{

width:100px;

height:100px;

object-fit:contain;

margin-bottom:10px;

}

.card h3{

font-size:18px;

}
